<% content_for :head do -%>
<%= javascript_include_tag 'clients.js' %>
<% end -%>

<h1>Listing clients</h1>

<table id="clients_list">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Draft Timesheets</th>
  </tr>

<% for client in @clients %>
  <tr id="<%= dom_id(client) %>">
    <td><%=h client.name %></td>
    <td><%=h client.code %></td>
    <td class="draft_timesheets_count"><%=h client.draft_timesheets.count %></td>
    <td><%= link_to 'Show', client_path(client) %></td>
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
    <td><%= link_to 'Destroy', client_path(client), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br/>
<%= link_to 'New client', new_client_path -%>

<br/>
<%= link_to 'Update draft timesheets count', counts_clients_path, :remote => true, 'data-type' => :json, :id => 'update_draft_timesheets' -%>
