<h1>Editing billing_code</h1>

<% form_for [@client, @billing_code] do |f| %>
  <p>
    <b>Code</b><br />
    <%= f.text_field :code %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', client_billing_code_path(@client, @billing_code) %> |
<%= link_to 'Back', client_billing_codes_path(@client) %>
