<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-us" />
		
		<title>untitled</title>
		
		<meta name="ROBOTS" content="ALL" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		<meta name="Copyright" content="(c) 2006 Copyright content: Jeremy Hubert Copyright design: Jeremy Hubert" />
		<!-- (c) Copyright 2006 by Jeremy Hubert All Rights Reserved. -->
		
		<meta name="Keywords" content="__KEYWORDS__" />
		<meta name="Description" content="__DESCRIPTION__" />

		<%= stylesheet_link_tag 'master' %>
		
		<!-- import the DOM logic from external javascript files -->
    <%= javascript_tag :defaults %>
 					
 		<!-- KLUDGE:: Win IE 5 -->
 		<!-- corrects the unsightly Flash of Unstyled Content. See http://www.bluerobot.com/web/css/fouc.asp for more info -->
 		<script type="text/javascript"></script>
 		<!-- END KLUDGE:: -->
		
	</head>
	
	<body id="" onload="">
	  <div id="container">
	    <div id="header">
	      <h1><%= @page_title || "Time and Expenses" %></h1>
	      <div id="login_message">
          <% if logged_in? -%>
            <span><%= "Logged in as <strong>#{current_user.login}</strong>" %></span>
            <span>|</span>
            <span><%= link_to "Logout", :controller => 'account', :action => 'logout' %></span>
          <% else -%>
            <span><%= link_to "Logout", :controller => 'account', :action => 'login' %></span>
            <span>|</span>
            <span><%= link_to "Signup", :controller => 'account', :action => 'signup' %></span>
          <% end -%>
        </div>
        <%= link_to image_tag('logo.gif', :size => "369x105", :alt => "CityCliq Home", :border => '0'), root_path %>
  		</div>
	    </div>
	    <div id="content">
        <%= yield %>
      </div>
    </div>
	</body>
</html>
